# Required Notice: Copyright 2026 Knoban LLC. All rights reserved.
# (https://github.com/kNoAPP/MeshCore-WebAgent)

.next 
out 
node_modules 
package-lock.json 
public/\*.svg
public/version.json
app/favicon.ico
CHANGELOG.md
AUTHORS
